body {
    font-size: 30px;/*字大小*/
    display: flex;
    /* 2. 水平置中  */
    justify-content: center;
      flex-direction: column;
    /* 3. 垂直置中 */
    align-items: center;
    height: 100vh; 

    margin: 0;
    background-color: #f0f0f0; /* 底色 */
    transition: background-color 0.5s; /*淡出的效果 */
}
.navbar {
    display: flex;
    justify-content: space-between; /* 兩者以最大空間分開 */
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed; /* 在最上方 */
    top: 0;
    width: 50%;
}
.card {
    line-height: 1.6;
    background:wheat ;      /* 白色卡片 */
    padding: 40px;
    font-size: 30px;
    border-radius: 15px;      /* 圓角 */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* 陰影 */
    text-align: left;
}
